.navigation {
  display: flex;
  flex-direction: row;
  background-color: rgb(211, 211, 211);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(175, 175, 175);
  align-items: center;
  min-height: 40px;
  padding-left: 25px;
  font-size: large;
}

.card {
  width: 600px;
  margin: auto;
}

.addquestion {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
}